.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin: 20px auto;

  .mat-form-field {
    width: 100%;
  }

  .mat-form-field-infix {
    width: 300px;
  }
  .form-submit {
    margin-top: 30px;
  }
}
