<nav class="header-nav">
  <ng-container *ngIf="this.authService.accessToken$ | async; else unAuthorized">
    <a
      *ngFor="let item of authorizedMenu"
      [routerLink]="item.routerLink"
      [matTooltip]="item.text"
      routerLinkActive="header-nav__link-active"
      class="header-nav__link"
    >
      <mat-icon [fontIcon]="item.icon"></mat-icon>
    </a>
    <span
      class="header-nav__link"
      matTooltip="LogOut"
      (click)="authService.logout()"
    >
      <mat-icon aria-hidden="false" fontIcon="logout"></mat-icon>
    </span>
  </ng-container>

  <ng-template #unAuthorized>
    <a
      *ngFor="let item of unAuthorizedMenu"
      [routerLink]="item.routerLink"
      class="header-nav__link"
    >
      {{ item.text }}
    </a>
  </ng-template>
</nav>
