<h1 style="text-align: center;">
  Sign Up
</h1>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-container">
    <mat-form-field>
      <input matInput placeholder="Username" formControlName="username">
      <mat-hint *ngIf="!username?.valid && username?.touched">
        <span *ngIf="username?.errors?.['required']">
          Username is required
        </span>
      </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email">
      <mat-hint *ngIf="!email?.valid && email?.touched">
        <span *ngIf="email?.errors?.['required']">
          Email is required
        </span>
        <span *ngIf="email?.errors?.['email'] && !email?.errors?.['required']">
          Email is invalid
        </span>
      </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Password" formControlName="password">
      <mat-hint *ngIf="!password?.valid && password?.touched">
        <span *ngIf="password?.errors?.['required']">
          Password is required
        </span>
        <span *ngIf="password?.errors?.['passwordInvalid'] && !password?.errors?.['required']">
          Password is not containing a number
        </span>
      </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword">
      <mat-hint *ngIf="!confirmPassword?.valid && confirmPassword?.touched">
        <span *ngIf="confirmPassword?.errors?.['required']">
          Password is required
        </span>
        <span *ngIf="confirmPassword?.errors?.['passwordsNotMatching']">
          Passwords not matching
        </span>
      </mat-hint>
    </mat-form-field>

    <button mat-flat-button color="primary" [disabled]="!registerForm.valid && registerForm.touched" type="submit" class="form-submit">
      Register
    </button>
  </div>
</form>

